cloud_id                 = "b3g8q7naf6bdl2j3uq6t"
folder_id                = "b6gtlsu4t9uikiocamqt"
zone                     = "ru-central1-a"
image_id                 = "fd5d4gok6aag7tts8crb"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e2b9r48vbhlumnj3kksi"
service_account_key_file = "key.json"
yc_instance_name         = "reddit-app"
